<!-- Image Preview -->
<?php if (isset($model['image_id'])): ?>
	<div class="field-section">
		<h4>Bildvorschau</h4>
	</div>
	<br>
	<img src="<?= url('/') ?>/<?= $model->image['file_url'] ?>" height="120">
<?php endif ?>
