<!-- Show Meta-Data only in update action -->
<div class="field-section">
	<h4>ID</h4>
</div>
<br>
<label>
	<?= $model->id ?>
</label>

<br><br>
<div class="field-section">
	<h4>Aktualisiert</h4>
	<p class="help-block">am / um / von</p>
</div>
<br>
<label>
	<?= $model->updated_at->format('d.m.Y h:i') ?><br>
	<?= $model->updated_slug ?>
</label>
<br><br>
<div class="field-section">
	<h4>Erstellt</h4>
	<p class="help-block">am / um / von</p>
</div>
<br>
<label>
	<?= $model->created_at->format('d.m.Y h:i') ?><br>
	<?= $model->created_slug ?>
</label>