<!-- Button for Preview in Live-Site -->
<a 
	href="<?= env('APP_URL').'/'.$model->slug[0]->slug  ?>" 
	class="btn btn-primary oc-icon-globe"
	target="_blank"
>
	Vorschau auf Stage-Seite
</a>
<br><br>
<a 
	href="<?= env('LIVE_URL').$model->slug[0]->slug  ?>" 
	class="btn btn-primary oc-icon-globe"
	target="_blank"
>
	Vorschau auf Live-Seite
</a>