<div class="callout fade in callout-info no-subheader">
    <div class="header">
        <i class="icon-info"></i>
        <h3>Formatierungen für die OnSong App</h3>
        <p>Mehr kann man auf der <a href="https://onsongapp.com/docs/features/formats/onsong/" target="_blank">Webseite von OnSong</a> erfahren.</p>
    </div>
    <div class="content">
        <p>
            <strong>Chorus:</strong> Der Doppelpunkt setzt immer einen Abschnitt ab wie Verse, Chorus, Bridge etc. Danach muss eine Leerzeile kommen.<br>
            <strong>(Anweisungen)</strong> Anweisungen für die Band stehen immer in Klammern.<br>
            <strong>*Diese Zeile wird fett</strong> Ein "*" am Zeilenanfang macht die Zeile fett.<br>
            <strong>/Diese Zeile wird kursiv</strong> Ein "/" am Zeilenanfang macht die Zeile kursiv.
        </p>
    </div>
</div>