<div data-control="toolbar">
    <a
        href="<?= Backend::url('kay899/band/songs/create') ?>"
        class="btn btn-primary oc-icon-plus">
        <?= e(trans('backend::lang.form.create')) ?>
    </a>

    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete the selected Songs?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>

    <div class="btn-group dropdown dropdown-fixed">
        <a
            data-control="popup"
            data-size="large"
            data-handler="onLoadReorder"
            href="javascript:;"
            class="btn btn-default oc-icon-sort"
            <?= !$isSortable ? 'disabled="disabled"' : '' ?>>
            <?= e(trans('backend::lang.reorder.default_title')) ?>
        </a>
        <?php if (sizeof($status)): ?>
            <button
                type="button"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <?php foreach ($status as $key => $value): ?>
                    <li>
                        <a
                            data-control="popup"
                            data-size="large"
                            data-handler="onLoadReorder"
                            data-extra-data="status: <?= $key ?>"
                            href="javascript:;"
                            class="oc-icon-angle-right">
                            <?= e(trans($value)) ?>
                        </a>
                    </li>
                <?php endforeach ?>
            </ul>
        <?php endif ?>
    </div>

    <a
        href="<?= Backend::url('kay899/band/songs/printpreview') ?>"
        class="btn btn-primary oc-icon-print"
        target="_blank"
        <?= $songsCount < 1 ? 'disabled="disabled"' : '' ?>>
        <?= e(trans('kay899.band::lang.songs.buttons.printpreview')) ?>
    </a>
</div>
