<?php Block::put('breadcrumb') ?>
    <ul>
        <li><?= e(trans($this->pageTitle)) ?></li>
        <li></li>
    </ul>
<?php Block::endPut() ?>

<div class="scoreboard">
    <div data-control="toolbar">
        <div class="scoreboard-item control-chart" data-control="chart-pie">
            <ul>
                <li data-color="#95b753"><?= e(trans('kay899.band::lang.songs.status.3')) ?> <span><?= $setlistSongsCount ?></span></li>
                <li data-color="#e5a91a"><?= e(trans('kay899.band::lang.songs.status.2')) ?> <span><?= $inProgressSongsCount ?></span></li>
                <li data-color="#3D5F9C"><?= e(trans('kay899.band::lang.songs.status.1')) ?> <span><?= $suggestedSongsCount ?></span></li>
            </ul>
        </div>
        <div class="scoreboard-item control-chart" data-control="chart-pie">
            <ul>
                <li data-color="#95b753"><?= e(trans('kay899.band::lang.songs.topics.1')) ?> <span><?= $duetSongsCount ?></span></li>
                <li data-color="#e5a91a"><?= e(trans('kay899.band::lang.songs.topics.2')) ?> <span><?= $lindaSongsCount ?></span></li>
                <li data-color="#3D5F9C"><?= e(trans('kay899.band::lang.songs.topics.3')) ?> <span><?= $andreasSongsCount ?></span></li>
            </ul>
        </div>
        <div class="scoreboard-item title-value">
            <h4><?= e(trans('kay899.band::lang.songs.status.3')) ?></h4>
            <p><?= $setlistSongsCount ?></p>
            <p class="description"><?= e(trans('kay899.band::lang.songs.model.title')) ?></p>
        </div>
        <div class="scoreboard-item title-value">
            <h4><?= e(trans('kay899.band::lang.songs.status.2')) ?></h4>
            <p><?= $inProgressSongsCount ?></p>
            <p class="description"><?= e(trans('kay899.band::lang.songs.model.title')) ?></p>
        </div>
        <div class="scoreboard-item title-value">
            <h4><?= e(trans('kay899.band::lang.songs.status.1')) ?></h4>
            <p><?= $suggestedSongsCount ?></p>
            <p class="description"><?= e(trans('kay899.band::lang.songs.model.title')) ?></p>
        </div>
    </div>
</div>

<?= $this->listRender() ?>
