<?php Block::put('breadcrumb') ?>
    <ul>
        <li><?= e(trans($this->pageTitle)) ?></li>
        <li></li>
    </ul>
<?php Block::endPut() ?>

<div data-control="toolbar">
    <a
        href="<?= Backend::url('kay899/band/songs/update/' . $formModel->id) ?>"
        class="btn btn-primary oc-icon-chevron-left">
        <?= e(trans('kay899.band::lang.songs.buttons.back')) ?>
    </a>
</div>
<br>

<div class="form-preview">
    <?= $this->formRenderPreview() ?>
</div>