<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('kay899/band/songs') ?>"><?= e(trans('kay899.band::lang.songs.model.title')) ?></a></li>
    <li><?= e(trans('backend::lang.reorder.default_title')) ?></li>
</ul>
<?php Block::endPut() ?>

<?= $this->reorderRender() ?>