<!-- 				<ul class="isotope-filters artist-filter">
					<li class="current"><a href="#" data-filter="*">All Artists</a></li>
					<li><i class="fa fa-ellipsis-v"></i><a href="#" data-filter=".drummer">Drummers</a></li>
					<li><i class="fa fa-ellipsis-v"></i><a href="#" data-filter=".guitar">Guiter Players</a></li>
					<li><i class="fa fa-ellipsis-v"></i><a href="#" data-filter=".singer">Singers</a></li>
					<li><i class="fa fa-ellipsis-v"></i><a href="#" data-filter=".solo">Solo Artists</a></li>
				</ul> -->

				<div class="row artists">
					<!-- artists -->
					{% for profile in profileList.profiles %}
						<div class="col-sm-6 col-md-3">
							<div class="latest-content">
								<a href="/ueber-uns/{{ profile.user_id_label }}">
									<div class="latest-content-image">
										<img src="{{ profile.teaser.getPath() }}" alt="{{ profile.user_id_label }}" title="{{ profile.user_id_label }}"/>
									</div>
									<div class="latest-content-info">
										<div class="meta">
											<div class="icon">
												<i class="fa fa-user"></i>
											</div>
											<h4>{{ profile.user_id_label }}</h4>
											<p>{{ profile.position }}</p>
										</div>
									</div>
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

<!-- 			<ul class="pagination">
				<li class="current"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
			</ul> -->