<p><?= e(trans('backend::lang.account.enter_new_password')) ?></p>

<?= Form::open() ?>
    <input type="hidden" name="postback" value="1" />
    <input type="hidden" name="id" value="<?= $id ?>" />
    <input type="hidden" name="code" value="<?= $code ?>" />

    <div class="row">
        <div class="col-sm-12 form-group">
            <label for="password">Password</label>
            <input class="form-control input-lg" type="password" id="password"  name="password" value="" placeholder="<?= e(trans('backend::lang.account.password_placeholder')) ?>">
        </div>
    </div>
    <button class="btn btn-grove-one btn-lg btn-bold" type="submit"><?= e(trans('backend::lang.account.reset')) ?></button>
    <a href="<?= Backend::url('backend/auth') ?>" class="text-muted">
        <?= e(trans('backend::lang.form.cancel')) ?>
    </a>
    <div class="clearfix"></div>
<?= Form::close() ?>