<p><?= e(trans('backend::lang.account.enter_email')) ?></p>

<?= Form::open(['url' => 'backend/vitae/account/accountauth/restore']) ?>
    <div class="row">
        <div class="col-sm-12 form-group">
            <label for="email">E-Mail Address</label>
            <input class="form-control input-lg" type="email" id="email" name="email" value="<?= Input::old('email'); ?>" placeholder="<?= e(trans('backend::lang.account.email_placeholder')) ?>">
        </div>
    </div>
    <button class="btn btn-grove-one btn-lg btn-bold" type="submit"><?= e(trans('backend::lang.account.restore')) ?></button>
    <a href="<?= Backend::url('backend/auth') ?>" class="text-muted">
        <?= e(trans('backend::lang.form.cancel')) ?>
    </a>
    <div class="clearfix"></div>
<?= Form::close() ?>
