<p><?= e(Backend\Models\BrandSetting::get('app_tagline')) ?></p>

<?= Form::open(['url' => 'backend/vitae/account/accountauth/signin']) ?>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="email">E-Mail Address</label>
            <input class="form-control input-lg" type="email" id="email" name="email" value="<?= Input::old('email'); ?>" placeholder="<?= e(trans('backend::lang.account.email_placeholder')) ?>">
        </div>
        <div class="col-sm-6 form-group">
            <label for="password">Password</label>
            <input class="form-control input-lg" type="password" id="password"  name="password" value="" placeholder="<?= e(trans('backend::lang.account.password_placeholder')) ?>">
        </div>
    </div>
    <button class="btn btn-grove-one btn-lg btn-bold" type="submit"><?= e(trans('backend::lang.account.login')) ?></button>
    <?php if (is_null(config('cms.backendForceRemember', true))) : ?>
        <!-- Remember checkbox -->
        <div class="row">
            <div class="col-sm-6 form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember" name="remember"/>
                    <label class="form-check-label" for="remember"><?= e(trans('backend::lang.account.remember_me')) ?></label>
                </div>
            </div>
        </div>
    <?php endif; ?>
    <!-- Forgot your password? -->
    <a href="<?= Backend::url('backend/auth/restore') ?>" class="text-muted">
        <?= e(trans('backend::lang.account.forgot_password')) ?>
    </a>
    <div class="clearfix"></div>
<?= Form::close() ?>

<?= $this->fireViewEvent('backend.auth.extendSigninView') ?>
