				<div class="row artist-info">
					<!-- artist info -->
					<div class="col-sm-4 col-md-3">
						<div class="latest-content">
							<div class="latest-content-image">
								<img src="{{ profile.teaser.getPath() }}" alt="{{ profile.user_id_label }}" title="{{ profile.user_id_label }}"/>
							</div>
							<div class="latest-content-info">

								<div class="meta">
									<div class="icon">
										<i class="fa fa-user"></i>
									</div>
									<h4>{{ profile.user_id_label }}</h4>
									<p>{{ profile.position }}</p>
								</div>
							</div>
						</div>

						{% if profile.facebook|length > 0 %}
							<ul class="share clearfix">
								<li><a href="{{ profile.facebook }}" target="_blank"><i class="fa fa-lg fa-facebook"></i></a></li>
							</ul>
						{% endif %}
					</div>

					<div class="col-sm-8 col-md-9">
						<h3>Über {{ profile.user_id_label }}</h3>
						{{ profile.about_me }}
					
						<div id="songs">
							<h4>Meine Lieblingslieder</h4>
							<ul class="songs">
								{% for song in profile.songs %}
									<li>
										<div class="track-nr">{{ loop.index }}</div>
										<div class="track-meta">
											<h5>{{ song.title }}</h5>
											<p>{{ song.artist }}</p>
										</div>
									</li>
								{% endfor %}
<!--								<li>
									<div class="track-nr">4</div>
									<div class="track-meta">
										<h5>Risus et Justo</h5>
										<p>Proin metus odio aliquam eget molestie</p>
									</div>
									<audio src="music/bustedchump.mp3" preload="auto"></audio>
								</li>
								<li>
									<div class="track-nr">5</div>
									<div class="track-meta">
										<h5>Mauris</h5>
										<p>Etiam at risus et justo dignissim congue arcu sodales</p>
									</div>
									<audio src="music/cloudlessdays.mp3" preload="auto"></audio>
									<ul class="track-btns">
										<li><a href="#" class="download-track">Download Track</a></li>
									</ul>
								</li>
								<li>
									<div class="track-nr">6</div>
									<div class="track-meta">
										<h5>Pulvinar</h5>
										<p>Proin metus odio aliquam eget molestie arcu sodales</p>
									</div>
									<audio src="music/freeform.mp3" preload="auto"></audio>
									<ul class="track-btns">
										<li><a href="#" class="buy-track">Buy Track</a></li>
									</ul>
								</li>
								<li>
									<div class="track-nr">7</div>
									<div class="track-meta">
										<h5>Miss Kitten</h5>
										<p>Etiam at risus et justo dignissim congue</p>
									</div>
									<audio src="music/coreissues.mp3" preload="auto"></audio>
								</li>
								<li>
									<div class="track-nr">8</div>
									<div class="track-meta">
										<h5>Ignissim Congue</h5>
										<p>Proin metus odio aliquam eget molestie arcu sodales</p>
									</div>
									<audio src="music/electrofreak.mp3" preload="auto"></audio>
								</li> -->
							</ul>
						</div>
					</div>
				</div>

				<!-- featured artists -->
<!-- 				<h2>Featured <span>Artists</span></h2>
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<div class="latest-content">
							<a href="#">
								<div class="latest-content-image">
									<img src="images/photos/photo18.jpg" alt="" />
								</div>
								<div class="latest-content-info">

									<div class="meta">
										<div class="icon">
											<i class="fa fa-user"></i>
										</div>
										<h4>Dj Charlie White</h4>
										<p>Deep House</p>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="latest-content">
							<a href="#">
								<div class="latest-content-image">
									<img src="images/photos/photo11.jpg" alt="" />
								</div>
								<div class="latest-content-info">

									<div class="meta">
										<div class="icon">
											<i class="fa fa-user"></i>
										</div>
										<h4>Aaron LaCrate</h4>
										<p>Trance, Rock</p>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="latest-content">
							<a href="#">
								<div class="latest-content-image">
									<img src="images/photos/photo17.jpg" alt="" />
								</div>
								<div class="latest-content-info">

									<div class="meta">
										<div class="icon">
											<i class="fa fa-user"></i>
										</div>
										<h4>Dj Charlie White</h4>
										<p>Deep House</p>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="latest-content">
							<a href="#">
								<div class="latest-content-image">
									<img src="images/photos/photo12.jpg" alt="" />
								</div>
								<div class="latest-content-info">

									<div class="meta">
										<div class="icon">
											<i class="fa fa-user"></i>
										</div>
										<h4>Aaron LaCrate</h4>
										<p>Trance, Rock</p>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div> -->