<div class="report-widget">
    <h3><?= e(trans($this->property('title'))) ?></h3>

    <?php if (!isset($error)): ?>
        <div class="control-status-list">
            <?php if (isset($users)) : ?>
                <select
                    class="form-control custom-select"
                    data-request="onFiltered"
                    data-stripe-load-indicator
                    name="user_id"
                    id="selectopt"
                >
                    <option<?php if ($userID == 0) : ?> selected="selected"<?php endif; ?> value="0"><?= e(trans('vitae.vita::lang.hints.choose_user')) ?></option>
                    <?php foreach ($users as $user) : ?>
                        <option<?php if ($userID == $user->id) : ?> selected="selected"<?php endif; ?> value="<?=$user->id; ?>" checked><?=$user->first_name; ?> <?=$user->last_name; ?></option>
                    <?php endforeach; ?>
                </select>
            <?php endif; ?>
        </div>
    <?php else: ?>
        <div class="callout callout-warning">
            <div class="content"><?= e($error) ?></div>
        </div>
    <?php endif ?>
</div>