==
<nav class="navbar navbar-default grove-navbar" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="grove-toggle" data-toggle="collapse" data-target=".grove-nav">   <i class="glyphicons show_lines"></i>  </a>
                    <a href="/" class="navbar-brand"><img src="{{ 'assets/img/logo.png'|theme }}" alt="{{ this.page.title }}"></a>
                </div>

                <div class="collapse navbar-collapse grove-nav">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown">Test <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/">Test</a></li>
                            </ul>
                         </li>
                    </ul>        
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>