<?php
    $author = $theme->getConfigValue('author');
?>

<div class="layout-cell min-height theme-thumbnail">
    <div class="thumbnail-container"><img src="<?= $theme->getPreviewImageUrl() ?>" alt="" /></div>
</div>
<div class="layout-cell min-height theme-description">
    <h3><?= e($theme->getConfigValue('name', $theme->getDirName())) ?></h3>
    <?php if (strlen($author)): ?>
        <p class="author"><?= trans('cms::lang.theme.by_author', ['name' => '<a href="'.e($theme->getConfigValue('homepage', '#')).'">'.e($author).'</a>']) ?></p>
    <?php endif ?>
    <p class="description">
        <?= e($theme->getConfigValue('description', 'The theme description is not provided.')) ?>
    </p>
    <div class="controls">
        <?php if ($theme->hasCustomData()): ?>
            <div class="dropdown">
                <?php if ($this->isActiveTheme(e($theme->getDirName()))): ?>
                    <a
                        href="#"
                        data-toggle="dropdown"
                        class="btn btn-secondary">
                        <i class="icon-star"></i>
                        <?= e(trans('cms::lang.theme.active_button')) ?>
                    </a>
                <?php else: ?>
                    <a
                        href="#"
                        data-toggle="dropdown"
                        class="btn btn-primary">
                        <i class="icon-check"></i>
                        <?= e(trans('cms::lang.theme.active_button')) ?>
                    </a>
                <?php endif ?>
                <ul class="dropdown-menu" role="menu" data-dropdown-title="Add something small">
                    <?php foreach ($theme->getConfigArray('form.fields.color.options') as $index => $color): ?>
                        <li role="presentation" <?= $this->isActiveTheme(e($theme->getDirName())) && $this->isActiveThemeColor(e($index)) ? 'class="active"' : '' ?>>
                            <a
                                href="#"
                                role="menuitem"
                                data-request="<?= $this->getEventHandler('onSetActiveTheme') ?>"
                                data-request-data="theme: '<?= e($theme->getDirName()) ?>', color: '<?= e($index) ?>'"
                                data-stripe-load-indicator
                                tabindex="-1">
                                <?= e($color) ?>
                            </a>
                        </li>
                    <?php endforeach ?>
                </ul>
            </div>
            <div class="dropdown">
                <a
                    href="#"
                    data-toggle="dropdown"
                    class="btn btn-secondary"
                    role="button">
                    <i class="icon-eye"></i>
                    <?= e(trans('cms::lang.editor.preview')) ?>
                </a>
                <ul class="dropdown-menu" role="menu" data-dropdown-title="Add something small">
                    <?php foreach ($theme->getConfigArray('form.fields.color.options') as $index => $color): ?>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="<?= url('preview?theme=') ?><?= e($theme->getDirName()) ?>&color=<?= e($index) ?>" target="_blank"><?= e($color) ?></a>
                        </li>
                    <?php endforeach ?>
                </ul>
            </div>
        <?php else: ?>
            <?php if ($this->isActiveTheme(e($theme->getDirName()))): ?>
                <button
                    type="submit"
                    disabled
                    class="btn btn-secondary btn-disabled">
                    <i class="icon-star"></i>
                    <?= e(trans('cms::lang.theme.active_button')) ?>
                </button>
            <?php else: ?>
                <button
                    type="submit"
                    data-request="<?= $this->getEventHandler('onSetActiveTheme') ?>"
                    data-request-data="theme: '<?= e($theme->getDirName()) ?>'"
                    data-stripe-load-indicator
                    class="btn btn-primary">
                    <i class="icon-check"></i>
                    <?= e(trans('cms::lang.theme.activate_button')) ?>
                </button>
            <?php endif ?>
            <a
                href="<?= url('preview?theme=') ?><?= e($theme->getDirName()) ?>"
                target="_blank"
                class="btn btn-secondary"
                role="button">
                <i class="icon-eye"></i>
                <?= e(trans('cms::lang.editor.preview')) ?>
            </a>
        <?php endif ?>
    </div>
</div>