<div class="widewrapper">
  <!-- Begin Paper -->
  <div id="paper">
    <div class="paper-top"></div>
    <div id="paper-mid">
      <div class="entry">
        <!-- Begin Image -->
        {% if avatar %}
          <img class="portrait" src="{{ avatar }}" alt="{{ application.user.fullname }}" />
        {% endif %}
        <!-- End Image -->
        <!-- Begin Personal Information -->
        <div class="self">
          <h1 class="name">
          {% if profile.title and preferences['show_title'] %}
            {{ profile.title }}
          {% endif %}
            {{ application.user.fullname }} <br />
            <span>{{ application.title }}</span>
          </h1>
          <br />
          {% if preferences['show_address'] %}
            <strong>{{ ('vitae.application::themes.clipboard.address')|trans }}:</strong> 
            {{ profile.street }}, {{ profile.zip }} {{ profile.city }}, {{ profile.country.name }}
            <br />
          {% endif %}
          {% if profile.nationality and preferences['show_nationality'] %}
            <strong>{{ ('vitae.vita::lang.profile.labels.nationality')|trans }}:</strong> {{ profile.nationality }}<br />
          {% endif %}
          {% if profile.phone and preferences['show_phone'] %}
            <strong>{{ ('vitae.vita::lang.profile.labels.phone')|trans }}:</strong> {{ profile.phone }}<br />
          {% endif %}
          {% if profile.mobile and preferences['show_mobile'] %}
            <strong>{{ ('vitae.vita::lang.profile.labels.mobile')|trans }}:</strong> {{ profile.mobile }}<br />
          {% endif %}
          <strong>{{ ('vitae.vita::lang.profile.labels.email')|trans }}:</strong> {{ application.user.email }}<br />
          {% if profile.birthday and preferences['show_birthday'] %}
            <strong>{{ ('vitae.vita::lang.profile.labels.birthday')|trans }}:</strong> {{ profile.birthday|date("d.m.Y") }}<br />
          {% endif %}
          {% if profile.birthplace and preferences['show_birthplace'] %}
            <strong>{{ ('vitae.vita::lang.profile.labels.birthplace')|trans }}:</strong> {{ profile.birthplace }}<br />
          {% endif %}
          {% if profile.drivinglicence and preferences['show_drivinglicence'] %}
            <strong>{{ ('vitae.vita::lang.profile.labels.drivinglicence')|trans }}:</strong> {{ profile.drivinglicence }}<br />
          {% endif %}
          {% if profile.denomination and preferences['show_denomination'] %}
            <strong>{{ ('vitae.vita::lang.profile.labels.denomination')|trans }}:</strong> {{ ('vitae.vita::lang.denominations.'~profile.denomination)|trans }}<br />
          {% endif %}
          {% if profile.familystatus and preferences['show_familystatus'] %}
            <strong>{{ ('vitae.vita::lang.profile.labels.familystatus')|trans }}:</strong> {{ ('vitae.vita::lang.familystatus.'~profile.familystatus)|trans }}<br />
          {% endif %}
          {% if profile.children and preferences['show_children'] %}
            <strong>{{ ('vitae.vita::lang.profile.labels.children')|trans }}:</strong> {{ profile.children }}<br />
          {% endif %}
          {% if profile.parents and preferences['show_parents'] %}
            <strong>{{ ('vitae.vita::lang.profile.labels.parents')|trans }}:</strong> {{ profile.parents }}<br />
          {% endif %}

        </div>
        <!-- End Personal Information -->
      </div>
      <!-- Begin 1st Row -->
      {% if application.coveringtext %}
        <div class="entry">
          <h2>{{ ('vitae.application::themes.clipboard.application')|trans }}</h2>
          <p>{{ application.coveringtext|raw }}</p>
        </div>
      {% endif %}
      <!-- End 1st Row -->
      <!-- Begin 2nd Row -->
      {% if educations is not empty and preferences['show_educations'] %}
        <div class="entry">
          <h2>{{ ('vitae.application::themes.clipboard.education')|trans }}</h2>
          {% for education in educations %}
            <div class="content">
              <h3>
              {% if not education.till_today %}
                {{ ('vitae.vita::lang.months.'~education.month_from)|trans }} {{ education.year_from }} - {{ ('vitae.vita::lang.months.'~education.month_till)|trans }} {{ education.year_till }}
              {% else %}
                {{ ('vitae.vita::lang.months.'~education.month_from)|trans }} {{ education.year_from }} - {{ ('vitae.vita::lang.educations.labels.today')|trans }}
              {% endif %}
              </h3>
              <p>
              {% if not education.location %} 
                {{ education.school }}<br />
              {% else %}
                {{ education.school }}, {{ education.location }}<br />
              {% endif %}
              {% if education.graduation %}
                 <em>{{ education.graduation }}</em>
              {% endif %}
              </p>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <!-- End 2nd Row -->
      <!-- Begin 3rd Row -->
      {% if experiences is not empty and preferences['show_experiences'] %}
        <div class="entry">
          <h2>{{ ('vitae.application::themes.clipboard.experience')|trans }}</h2>
          {% for experience in experiences %}
            <div class="content">
              <h3>
              {% if not experience.till_today %}
                {{ ('vitae.vita::lang.months.'~experience.month_from)|trans }} {{ experience.year_from }} - {{ ('vitae.vita::lang.months.'~experience.month_till)|trans }} {{ experience.year_till }}
              {% else %}
                {{ ('vitae.vita::lang.months.'~experience.month_from)|trans }} {{ experience.year_from }} - {{ ('vitae.vita::lang.experiences.labels.today')|trans }}
              {% endif %}
              </h3>
              <p>
                {{ experience.corporation }}<br />
                <strong>{{ experience.position }}</strong>
                <em>{{ ('vitae.vita::lang.experiences.modes.'~experience.mode)|trans }}</em>
              </p>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <!-- End 3rd Row -->
      <!-- Begin 4th Row -->
      {% if counter.skills_count %}
        <div class="entry">
          <h2>{{ ('vitae.application::themes.clipboard.skills')|trans }}</h2>
          {% if counter.skills %}
            <div class="content">
              <h3>{{ ('vitae.vita::lang.skills.model.title')|trans }}</h3>
                  <ul class="skills">
                  {% for skill in skills %}
                      <li>{{ skill.title }}</li>
                  {% endfor %}
                  </ul>
            </div>
          {% endif %}
          {% if counter.qualifications %}
            <div class="content">
              <h3>{{ ('vitae.vita::lang.qualifications.model.title')|trans }}</h3>
                  <ul class="skills">
                  {% for qualification in qualifications %}
                      <li>{{ qualification.title }}</li>
                  {% endfor %}
                  </ul>
            </div>
          {% endif %}
          {% if counter.languages %}
            <div class="content">
              <h3>{{ ('vitae.vita::lang.languages.model.title')|trans }}</h3>
                  <ul class="skills">
                  {% for language in languages %}
                      <li>{{ ('system::lang.locale.'~language.locale)|trans }} <em>{{ ('vitae.vita::lang.languages.levels.'~language.level)|trans }}</em></li>
                  {% endfor %}
                  </ul>
            </div>
          {% endif %}
        </div>
      {% endif %}
      <!-- End 4th Row -->
      <!-- Begin 4th Row -->
      {% if counter.other_count %}
        <div class="entry">
          <h2>{{ ('vitae.application::themes.clipboard.other')|trans }}</h2>
          {% if counter.awards %}
            <div class="content">
              <h3>{{ ('vitae.vita::lang.awards.model.title')|trans }}</h3>
                  <ul class="skills">
                  {% for award in awards %}
                      <li>{{ award.title }}</li>
                  {% endfor %}
                  </ul>
            </div>
          {% endif %}
          {% if counter.interests %}
            <div class="content">
              <h3>{{ ('vitae.vita::lang.interests.model.title')|trans }}</h3>
                  <ul class="skills">
                  {% for interest in interests %}
                      <li>{{ interest.title }}</li>
                  {% endfor %}
                  </ul>
            </div>
          {% endif %}
          {% if counter.memberships %}
            <div class="content">
              <h3>{{ ('vitae.vita::lang.memberships.model.title')|trans }}</h3>
                  <ul class="skills">
                  {% for membership in memberships %}
                      <li>{{ membership.title }}</li>
                  {% endfor %}
                  </ul>
            </div>
          {% endif %}
        </div>
      {% endif %}
      <!-- End 4th Row -->
      <!-- Begin 5th Row -->
      {% if counter.attachments %}
        <div class="entry">
          <h2>{{ ('vitae.application::themes.clipboard.attachments')|trans }}</h2>
            {% for attachment in attachments %}
              <div class="content">
                <p>
                  <strong><a href="{{ attachment.pdf.getPath }}" target="_blank" title="{{ attachment.title }}">{{ attachment.title }}</a></strong>
                </p>
              </div>
            {% endfor %}
        </div>
      {% endif %}
      <!-- End 5th Row -->
    </div>
    <div class="clear"></div>
    <div class="paper-bottom"></div>
  </div>
  <!-- End Paper -->
</div>
