<?= Form::open(['id' => 'disableForm']) ?>

	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="popup">&times;</button>
	    <h4 class="modal-title"><?= e(trans('vitae.vita::lang.interests.model.reorder')) ?></h4>
	</div>

	<div class="modal-body">
	    <?php if ($this->fatalError): ?>
	    	<p class="flash-message static error"><?= $fatalError ?></p>
	    <?php endif ?>
	    <div class="form">
	        <?= $this->reorderRender() ?>
	    </div>
	</div>
	
	<div class="modal-footer"></div>

<?= Form::close() ?>
