description = "Default layout"
==
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>{{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{{ 'assets/node_modules/bootstrap/dist/css/bootstrap.min.css'|theme }}">

    <!-- Glyphicons -->
    <link rel="stylesheet" href="{{ 'assets/modules/glyphicons/css/glyphicons.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/modules/glyphicons/css/filetypes.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/modules/glyphicons/css/halflings.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/modules/glyphicons/css/social.css'|theme }}">
    

    <!-- Google Webfonts -->
    <link rel="stylesheet" href="{{ 'http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' }}" type='text/css'>

    <!-- LayerSlider styles -->
    <link rel="stylesheet" href="{{ 'assets/modules/layerslider/css/layerslider.css'|theme }}" type="text/css">

    <!-- Grove Styles (switch for different color schemes, e.g. "styles-cleanblue.css") -->
    <link rel="stylesheet" href="{{ 'assets/css/styles-blue.css'|theme }}" id="grove-styles">

    {% styles %}

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie8.css">        
        <script src="modules/respond/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->

    <script src="{{ '//code.jquery.com/jquery-1.11.3.min.js' }}"></script>
    <script>window.jQuery || document.write('<script src="node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
    <!-- jQuery with jQuery Easing, and jQuery Transit JS -->
     
    <!-- LayerSlider from Kreatura Media with Transitions -->
    <script src="{{ 'assets/modules/layerslider/js/greensock.js'|theme }}" type="text/javascript"></script>
    <script src="{{ 'assets/modules/layerslider/js/layerslider.transitions.js'|theme }}" type="text/javascript"></script>
    <script src="{{ 'assets/modules/layerslider/js/layerslider.kreaturamedia.jquery.js'|theme }}" type="text/javascript"></script>

    <!-- Grove Layerslider initiation script -->
    <script src="{{ 'assets/js/grove-slider.js'|theme }}" type="text/javascript"></script>

</head> 
<body>
    <header>
        {% partial 'site/header' %}

        {% placeholder header %}
    </header>

    {% page %}

    <footer class="widewrapper footer">
        {% partial 'site/footer' %}
    </footer>

    <script src="{{ 'assets/node_modules/bootstrap/dist/js/bootstrap.min.js'|theme }}"></script>
    <script src="{{ 'assets/modules/modernizr/modernizr-custom.js'|theme }}"></script>
    {% framework extras %}
    {% scripts %}
</body>
</html>