<div data-control="toolbar">
    <button
        href="javascript:;"
        data-control="popup"
        data-size="large"
        data-handler="onCreateForm"
        class="btn btn-primary oc-icon-plus"
        disabled="enable"
        data-trigger-action="disable"
        data-trigger="#selectopt"
        data-trigger-condition="value[0]">
        <?= e(trans('backend::lang.form.create')) ?>
    </button>
    <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', true); if (data.items_count > 1) {$('#reorder-button').prop('disabled', false)} else {$('#reorder-button').prop('disabled', true)}"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>
    <button
        href="javascript:;"
        data-control="popup"
        data-size="large"
        data-handler="onLoadReorder"
        class="btn btn-primary oc-icon-sort"
        <?php if ($items_count < 2) : ?>
            disabled="disabled"
        <?php endif ?>
        id="reorder-button">
        <?= e(trans('backend::lang.reorder.default_title')) ?>
    </button>
</div>
