        <h2>{{ ('kay899.band::lang.gigs.labels.setlist')|trans }}: {{ gig.title }}</h2>
        <p>
            {% if gig.datetime is not empty %} 
                <strong>{{ ('kay899.band::lang.gigs.printpreview.when')|trans }}</strong> {{ gig.datetime|date("m.d.Y H:i") }}<br>
            {% endif %}
            {% if gig.location is not empty %} 
                <strong>{{ ('kay899.band::lang.gigs.printpreview.where')|trans }}</strong> {{ gig.location }}<br>
            {% endif %}
        </p>
        <div class="row">
            {% if songs is not empty %} 
                {% for key, setlist in songs %}
                    <div class="col-md-12">
                        <div class="card">
                            <h6 class="card-header d-flex justify-content-between">
                                {% if key < 99 %}
                                    {{ ('kay899.band::lang.gigs.labels.set')|trans }} {{ key }}
                                {% else %}
                                    {{ ('kay899.band::lang.gigs.labels.add_ons')|trans }}
                                {% endif %}
                                <span class="badge badge-secondary">{{ setlist|length }}</span>
                            </h6>
                            <ul class="list-group list-group-flush">
                                {% for song in setlist %}
                                    <li class="list-group-item">
                                        {{ song.title }} <small>({{ song.artist }})</small>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <a class="btn btn-secondary float-right" href="/app/terminliste" role="button">{{ ('kay899.band::lang.gigs.printpreview.back')|trans }}</a>
        <div class="clearfix">&nbsp;</div>
