{% put header %}
    <div class="widewrapper pagetitle">
        <div class="container">
            <h1>{{ this.page.title }}</h1>
        </div>
    </div>
{% endput %}

<div class="widewrapper">
    {% if has_access %}
        <div class="container login">
            <h2>Application Page</h2>
            <p>Please select a Theme before you can Preview the Application.</p>
        </div>
    {% else %}
        <div class="container login">
            <h2>Log In</h2>
            <p>Please log in to view this application.</p>

            <form
                    data-request="{{ __SELF__ }}::onLogin"
                    data-request-flash>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="auth_token">Auth Token</label>
                        <input class="form-control input-lg" type="text" id="auth_token" name="auth_token" value="" placeholder="" autocomplete="off">
                    </div>
                </div>
                <button class="btn btn-grove-one btn-lg btn-bold" type="submit">Login</button>
                <div class="clearfix"></div>
            </form>
        </div>
    {% endif %}
</div>
