<!-- https://bootsnipp.com/snippets/VgzeR -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<style type="text/css">
	.row-striped:nth-of-type(odd){
	  background-color: #efefef;
	  border-left: 4px #000000 solid;
	}

	.row-striped:nth-of-type(even){
	  background-color: #ffffff;
	  border-left: 4px #efefef solid;
	}

	.row-striped {
	    padding: 15px 0;
	}
</style>

		<div class="container">
			{% for appointment in appointmentlist.appointments %}
				<div class="row row-striped">
					<div class="col-sm-12 col-md-2 col-xl-2 col-lg-2 text-md-right text-xl-right text-lg-right text-sm-right text-right">
						<h1 class="display-4"><span class="badge badge-secondary">{{ appointment.date_from|date('d') }}</span></h1>
						<h2>{{ appointment.date_from|date('M') }}</h2>
					</div>
					<div class="col-sm-12 col-md-10 col-xl-10 col-lg-10">
						<h3 class="text-uppercase"><strong>{{ appointment.title }}</strong></h3>
						<ul class="list-inline">
						    <li class="list-inline-item"><i class="fa fa-calendar" aria-hidden="true"></i> {{ appointment.date_from|date('l') }}</li>
						    {% if appointment.start_time %}
								<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ appointment.start_time|date('H:i') }}</li>
							{% endif %}
							{% if appointment.location %}
								<li class="list-inline-item"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ appointment.location }}</li>
							{% endif %}
						</ul>
						{% if appointment.hints %}
							<p>{{ appointment.hints }}</p>
						{% endif %}
						{% if appointment.gig %}
							<a class="btn btn-primary pull-right" href="/app/gig-setliste/{{ appointment.gig_id }}" role="button">{{ ('kay899.band::lang.gigs.labels.setlist')|trans }}</a>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
