<?php
        echo '<div class="drag-handle"><input name="item_ids[]" type="hidden" value="'.$record->pivot->id.'"/><input name="item_orders[]" type="hidden" value="'.$record->pivot->gig_sort_order.'"/>☰</div>';
