        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                {% if inProgressSongs is not empty %}  
                    <div class="card">
                        <h6 class="card-header d-flex justify-content-between">
                            {{ ('kay899.band::lang.songs.status.2')|trans }}
                            <span class="badge badge-secondary">{{ inProgressSongs|length }}</span>
                        </h6>
                        <ul class="list-group list-group-flush">
                            {% for song in inProgressSongs %}
                                {% if loop.index < 3 %}
                                    <li class="list-group-item list-group-item-secondary">
                                {% else %}
                                    <li class="list-group-item">
                                {% endif %}
                                    {{ song.title }} <small>({{ song.artist }})</small>
                                    {% if song.internal_remark %}
                                        <footer class="blockquote-footer">{{ song.internal_remark }}</footer>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                {% endif %}
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                {% if setlistSongs is not empty %} 
                    <div class="card">
                        <h6 class="card-header d-flex justify-content-between">
                            {{ ('kay899.band::lang.songs.status.3')|trans }}
                            <span class="badge badge-secondary">{{ setlistSongs|length }}</span>
                        </h6>
                        <ul class="list-group list-group-flush">
                            {% for song in setlistSongs %}
                                <li class="list-group-item">
                                    {{ song.title }} <small>({{ song.artist }})</small>
                                    {% if song.internal_remark %}
                                        <footer class="blockquote-footer">{{ song.internal_remark }}</footer>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                {% endif %}
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                {% if suggestedSongs is not empty %} 
                    <div class="card">
                        <h6 class="card-header d-flex justify-content-between">
                            {{ ('kay899.band::lang.songs.status.1')|trans }}
                            <span class="badge badge-secondary">{{ suggestedSongs|length }}</span>
                        </h6>
                        <ul class="list-group list-group-flush">
                            {% for song in suggestedSongs %}
                                <li class="list-group-item">
                                    {{ song.title }} <small>({{ song.artist }})</small>
                                    {% if song.internal_remark %}
                                        <footer class="blockquote-footer">{{ song.internal_remark }}</footer>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                {% endif %}
            </div>
        </div>
