<div class="report-widget">
    <h3><?= e(trans($this->property('title'))) ?></h3>

    <?php if (!isset($error)): ?>
        <div class="control-status-list">
            <ul>
                <li>
                    <?php if ($interests == 0): ?>
                        <span class="status-icon"><i class="icon-info"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.interests.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/interests') ?>" class="status-label link"><?= e(trans('backend::lang.dashboard.status.updates_link')) ?></a>
                    <?php else: ?>
                        <span class="status-icon success"><i class="icon-check"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.interests.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/interests') ?>" class="status-label primary"><?= $interests ?></a>
                    <?php endif ?>
                </li>
                <li>
                    <?php if ($skills == 0): ?>
                        <span class="status-icon"><i class="icon-info"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.skills.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/skills') ?>" class="status-label link"><?= e(trans('backend::lang.dashboard.status.updates_link')) ?></a>
                    <?php else: ?>
                        <span class="status-icon success"><i class="icon-check"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.skills.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/skills') ?>" class="status-label primary"><?= $skills ?></a>
                    <?php endif ?>
                </li>
                <li>
                    <?php if ($qualifications == 0): ?>
                        <span class="status-icon"><i class="icon-info"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.qualifications.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/qualifications') ?>" class="status-label link"><?= e(trans('backend::lang.dashboard.status.updates_link')) ?></a>
                    <?php else: ?>
                        <span class="status-icon success"><i class="icon-check"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.qualifications.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/qualifications') ?>" class="status-label primary"><?= $qualifications ?></a>
                    <?php endif ?>
                </li>
                <li>
                    <?php if ($awards == 0): ?>
                        <span class="status-icon"><i class="icon-info"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.awards.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/awards') ?>" class="status-label link"><?= e(trans('backend::lang.dashboard.status.updates_link')) ?></a>
                    <?php else: ?>
                        <span class="status-icon success"><i class="icon-check"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.awards.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/awards') ?>" class="status-label primary"><?= $awards ?></a>
                    <?php endif ?>
                </li>
                <li>
                    <?php if ($memberships == 0): ?>
                        <span class="status-icon"><i class="icon-info"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.memberships.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/memberships') ?>" class="status-label link"><?= e(trans('backend::lang.dashboard.status.updates_link')) ?></a>
                    <?php else: ?>
                        <span class="status-icon success"><i class="icon-check"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.memberships.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/memberships') ?>" class="status-label primary"><?= $memberships ?></a>
                    <?php endif ?>
                </li>
                <li>
                    <?php if ($languages == 0): ?>
                        <span class="status-icon"><i class="icon-info"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.languages.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/languages') ?>" class="status-label link"><?= e(trans('backend::lang.dashboard.status.updates_link')) ?></a>
                    <?php else: ?>
                        <span class="status-icon success"><i class="icon-check"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.languages.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/languages') ?>" class="status-label primary"><?= $languages ?></a>
                    <?php endif ?>
                </li>
                <li>
                    <?php if ($educations == 0): ?>
                        <span class="status-icon"><i class="icon-info"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.educations.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/educations') ?>" class="status-label link"><?= e(trans('backend::lang.dashboard.status.updates_link')) ?></a>
                    <?php else: ?>
                        <span class="status-icon success"><i class="icon-check"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.educations.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/educations') ?>" class="status-label primary"><?= $educations ?></a>
                    <?php endif ?>
                </li>
                <li>
                    <?php if ($experiences == 0): ?>
                        <span class="status-icon"><i class="icon-info"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.experiences.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/experiences') ?>" class="status-label link"><?= e(trans('backend::lang.dashboard.status.updates_link')) ?></a>
                    <?php else: ?>
                        <span class="status-icon success"><i class="icon-check"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.experiences.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/experiences') ?>" class="status-label primary"><?= $experiences ?></a>
                    <?php endif ?>
                </li>
                <li>
                    <?php if ($attachments == 0): ?>
                        <span class="status-icon"><i class="icon-info"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.attachments.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/attachments') ?>" class="status-label link"><?= e(trans('backend::lang.dashboard.status.updates_link')) ?></a>
                    <?php else: ?>
                        <span class="status-icon success"><i class="icon-check"></i></span>
                        <span class="status-text"><?= e(trans('vitae.vita::lang.attachments.model.title')) ?></span>
                        <a href="<?= Backend::url('vitae/vita/attachments') ?>" class="status-label primary"><?= $attachments ?></a>
                    <?php endif ?>
                </li>
            </ul>
        </div>
    <?php else: ?>
        <div class="callout callout-warning">
            <div class="content"><?= e($error) ?></div>
        </div>
    <?php endif ?>
</div>