<?php Block::put('breadcrumb') ?>
    <ul>
        <li><?= e(trans('octobase.advertising::lang.banners.model.title')) ?></li>
        <li></li>
    </ul>
<?php Block::endPut() ?>

<?= $this->listRender() ?>
