				<div class="row album-info">
					<div class="col-xs-12 col-md-9 col-md-offset-1">
						<!-- tracks -->
						<div id="songs">
							<h4>Setlist <span>{{ setlist.songs.count }} Songs</span></h4>
							<ul class="songs">
								{% for song in setlist.songs %}
									<li>
										<div class="track-nr">{{ loop.index }}</div>
										<div class="track-meta">
											<h5>{{ song.title }}</h5>
											<p>{{ song.artist }}</p>
										</div>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>