<!-- Buttons for Actions -->
<div class="field-switch">
    <label><?= e(trans('vitae.application::lang.actions.model.title')) ?></label>
</div>

<?php if (Session::get('selected_theme')): ?>

    <a
        href="<?= Backend::url('vitae/application/applications/preview/' . $formModel->id) ?>"
        target="_blank"
        class="btn btn-primary">
        <?= e(trans('vitae.application::lang.actions.buttons.preview')) ?>
    </a>

	<button 
		data-request="onSendTestMail"
		class="btn btn-primary"
		data-request-data="model_id: <?= $formModel->id ?>">
		<?= e(trans('vitae.application::lang.actions.buttons.send_test_mail')) ?>
	</button>

	<button 
		data-request="onSendApplicationMail"
		class="btn btn-danger"
		data-request-data="model_id: <?= $formModel->id ?>">
		<?= e(trans('vitae.application::lang.actions.buttons.send_application_mail')) ?>
	</button>

<?php else: ?>

    <a
        href="<?= Backend::url('vitae/application/preferences') ?>"
        class="btn btn-primary">
        <?= e(trans('vitae.application::lang.actions.buttons.choose_theme')) ?>
    </a>

<?php endif ?>