title = "Home"
url = "/"
layout = "default"
is_hidden = 0
==
<!--LayerSlider begin-->
        {% partial 'site/slider' %}
    <!--LayerSlider end-->

    <div class="widewrapper">
        <div class="container">
            <div class="row features">
                <div class="col-md-4 feature">
                    <h3><a class="glyphicons tint"></a>Responsive Layout</h3>
                    <p>Adalah menjadi satu fakta bahawa pembaca akan ter ganggu oleh text yang boleh difahami apabila meli hi at susunan mukasurat. Kegunaan.</p>
                </div>
                <div class="col-md-4 feature">
                    <h3><i class="social skitch"></i>Exquisite Design</h3>
                    <p>Adalah menjadi satu fakta bahawa pembaca akan ter ganggu oleh text yang boleh difahami apabila meli hi at susunan mukasurat. Kegunaan.</p>
                </div>
                <div class="col-md-4 feature">
                    <h3><i class="filetype html"></i>Clean Code</h3>
                    <p>Adalah menjadi satu fakta bahawa pembaca akan ter ganggu oleh text yang boleh difahami apabila meli hi at susunan mukasurat. Kegunaan.</p>
                </div>        
            </div>
        </div>
    </div>

    <div class="widewrapper strong-highlight">
        <div class="container calltoaction">
            <span>Buttons sell products! Call your visitors to action with this bold button.</span>
            <a href="https://wrapbootstrap.com/theme/grove-responsive-business-theme-WB09B7SFK" class="btn btn-grove-one btn-xlg btn-bold">Purchase Grove now!</a>
        </div>
    </div>