description = "Default layout"
==
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ application.user.fullname }}</title>
<link type="text/css" rel="stylesheet" href="{{ 'assets/css/blue.css'|theme }}" />
<link type="text/css" rel="stylesheet" href="{{ 'assets/css/print.css'|theme }}" media="print"/>
<!--[if IE 7]>
<link href="css/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="{{ 'assets/js/jquery-1.4.2.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/jquery.tipsy.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/cufon.yui.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/scrollTo.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/myriad.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/jquery.colorbox.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/custom.js'|theme }}"></script>
<script type="text/javascript">
        Cufon.replace('h1,h2');
</script>
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
  <div class="wrapper-top"></div>
  <div class="wrapper-mid">
  {% page %}
  </div>
  <div class="wrapper-bottom"></div>
</div>
<div id="message"><a href="#top" id="top-link">Top</a></div>
<!-- End Wrapper -->
{% framework extras %}
</body>
</html>
