<h3 class="section"><?= e(trans('backend::lang.media.display')) ?></h3>

<ul class="nav nav-stacked selector-group">
    <li role="presentation" <?php if ($currentFilter == Backend\Widgets\MediaManager::FILTER_EVERYTHING): ?>class="active"<?php endif ?>>
        <a href="#" data-command="set-filter" data-filter="<?= Backend\Widgets\MediaManager::FILTER_EVERYTHING ?>">
            <i class="icon-recycle"></i>

            <?= e(trans('backend::lang.media.filter_everything')) ?>
        </a>
    </li>
    <li role="presentation" <?php if ($currentFilter == System\Classes\MediaLibraryItem::FILE_TYPE_IMAGE): ?>class="active"<?php endif ?>>
        <a href="#" data-command="set-filter" data-filter="<?= System\Classes\MediaLibraryItem::FILE_TYPE_IMAGE ?>">
            <i class="icon-picture-o"></i>

            <?= e(trans('backend::lang.media.filter_images')) ?>
        </a>
    </li>
</ul>