<?= Form::open() ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= e(trans('backend::lang.media.move_popup_title')) ?></h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label><?= e(trans('backend::lang.media.move_destination')) ?></label>
            <select
                class="form-control custom-select"
                name="dest"
                data-placeholder="<?= e(trans('cms::lang.asset.move_please_select')) ?>">
                <option></option>
                <?php foreach (array_except($folders, ['/']) as $path=>$folder):?>
                    <option value="<?= e($path) ?>"><?= e($folder) ?></option>
                <?php endforeach ?>
            </select>

            <input type="hidden" name="originalPath" value="<?= e($originalPath) ?>">
        </div>
    </div>
    <div class="modal-footer">
        <button
            type="submit"
            class="btn btn-primary">
            <?= e(trans('cms::lang.asset.move_button')) ?>
        </button>
        <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
            <?= e(trans('backend::lang.form.cancel')) ?>
        </button>
    </div>
</form>