<?= Form::open() ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= e(trans('backend::lang.media.new_folder_title')) ?></h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Title</label>
            <input
                type="text"
                name="title"
                value=""
                class="form-control"
                autocomplete="off"
                id="file-title"
                default-focus />
        </div>
        <div class="form-group">
            <label><?= e(trans('backend::lang.media.folder_name')) ?></label>
            <input
                type="text"
                class="form-control"
                name="name"
                value=""
                readonly="readonly"
                data-input-preset="#file-title"
                data-input-preset-type="slug"
                autocomplete="off" />
        </div>
        <?php if (Octobase\Backend\Models\Setting::get('mediamanager_show_is_gallery')): ?>
            <div class="form-group switch-field">
                <div class="field-switch">
                    <label>Is Gallery</label>
                </div>
                <input type="hidden" name="is_gallery" value="0">
                <label class="custom-switch">
                    <input type="checkbox" name="is_gallery" value="1" />
                    <span>
                        <span>On</span>
                        <span>Off</span>
                    </span>
                    <a class="slide-button"></a>
                </label>
            </div>
        <?php else: ?>
            <input type="hidden" name="is_gallery" value="0">
        <?php endif ?>
    </div>
    <div class="modal-footer">
        <button
            type="submit"
            class="btn btn-primary">
            <?= e(trans('backend::lang.form.apply')) ?>
        </button>
        <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
            <?= e(trans('backend::lang.form.cancel')) ?>
        </button>
    </div>
</form>