<?= Form::ajax($this->getEventHandler($type == 'folder' ? 'onRenameFolder' : 'onApplyNameCustom'), [
    'success' => "\$el.trigger('close.oc.popup'); \$('#".$listId."').trigger('mediarefresh');",
    'data-stripe-load-indicator' => 1,
    'id' => 'media-rename-popup-form'
]) ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= e(trans('cms::lang.asset.rename_popup_title')) ?></h4>
    </div>
    <div class="modal-body">
        <div class="form-group is-required">
            <label>Title</label>
            <input
                type="text"
                name="title"
                value="<?= e($title) ?>"
                class="form-control"
                autocomplete="off"
                id="file-title"
                default-focus />
        </div>
        <!-- This needs to be slugged by the title and then the .jpg has to be added as well -->
        <?php if ($type == 'folder'): ?>
            <div class="form-group">
                <label><?= e(trans('cms::lang.asset.rename_new_name')) ?></label>
                <input
                    type="text"
                    name="name"
                    readonly="readonly"
                    value="<?= e($name) ?>"
                    class="form-control"
                    autocomplete="off" />
            </div>
            <?php if (Octobase\Backend\Models\Setting::get('mediamanager_show_is_gallery')): ?>
                <div class="form-group switch-field">
                    <div class="field-switch">
                        <label>Is Gallery</label>
                    </div>
                    <input type="hidden" name="is_gallery" value="0">
                    <label class="custom-switch">
                        <input type="checkbox" name="is_gallery" value="1" <?= e($is_gallery) ? 'checked="checked"' : '' ?> />
                        <span>
                            <span>On</span>
                            <span>Off</span>
                        </span>
                        <a class="slide-button"></a>
                    </label>
                </div>
            <?php else: ?>
                <input type="hidden" name="is_gallery" value="<?= e($is_gallery) ?>">
            <?php endif ?>
        <?php else: ?>
            <?= $formWidget->render() ?>

            <div class="form-group">
                <label><?= e(trans('cms::lang.asset.rename_new_name')) ?></label>
                <input
                    type="text"
                    name="name"
                    readonly="readonly"
                    value="<?= e($name) ?>"
                    class="form-control"
                    data-input-preset="#file-title"
                    data-input-preset-type="slug"
                    data-input-preset-suffix-input="#file-extension"
                    autocomplete="off" />
            </div>
            <input type="hidden" id="file-extension" value="<?= e(strtolower($extension)) ?>">
        <?php endif ?>

        <input type="hidden" name="originalName" value="<?= e($name) ?>">
        <input type="hidden" name="type" value="<?= e($type) ?>">
        <input type="hidden" name="originalPath" value="<?= e($originalPath) ?>" />
    </div>
    <div class="modal-footer">
        <button
            type="submit"
            class="btn btn-primary">
            <?= e(trans('backend::lang.form.apply')) ?>
        </button>
        <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
            <?= e(trans('backend::lang.form.cancel')) ?>
        </button>
    </div>
<?= Form::close() ?>
