<?php Block::put('breadcrumb') ?>
    <ul>
        <li><?= e(trans('octobase.mediamanager::lang.plugin.name')) ?></li>
        <li></li>
    </ul>
<?php Block::endPut() ?>
<div class="layout-row min-size">
    <div class="control-toolbar toolbar-padded">
        <div class="toolbar-item toolbar-primary">
            <div data-control="toolbar">
                <div class="btn-group offset-right">
                    <button type="button" class="btn btn-primary oc-icon-upload" data-control="upload" <?= e($currentFolder) == '/' ? 'disabled' : '' ?>
                        ><?= e(trans('backend::lang.media.upload')) ?></button>
                    <button type="button" class="btn btn-primary oc-icon-folder-open" <?= e($currentFolder) != '/' ? 'disabled' : '' ?> data-command="create-folder" data-control="popup" data-handler="<?= $this->getEventHandler('onLoadRCreatePopupCustom') ?>"><?= e(trans('backend::lang.media.add_folder')) ?></button>
                </div>

                <a role="button" class="btn btn-primary" href="<?= Backend::url('octobase/mediamanager/images/without_title') ?>"><?= e(trans('octobase.mediamanager::lang.buttons.without_title')) ?> (<?= $without_title_count ?>)</a>

                <button type="button" class="btn btn-default oc-icon-refresh empty offset-right" data-command="refresh"></button>

                <div class="btn-group offset-right">
                    <button type="button" class="btn btn-default oc-icon-reply-all" data-command="move"
                        ><?= e(trans('backend::lang.media.move')) ?></button>
                    <button type="button" class="btn btn-default oc-icon-trash" data-command="delete"
                        ><?= e(trans('backend::lang.media.delete')) ?></button>
                </div>

                <div class="btn-group offset-right" id="<?= $this->getId('view-mode-buttons') ?>">
                    <?= $this->makePartial('view-mode-buttons') ?>
                </div>
            </div>
        </div>
        <div class="toolbar-item" data-calculate-width>
            <div class="relative loading-indicator-container size-input-text">
                <input
                    type="text"
                    name="search"
                    value="<?= e($searchTerm) ?>"
                    class="form-control icon search growable"
                    placeholder="<?= e(trans('backend::lang.media.search')) ?>"
                    data-control="search"
                    autocomplete="off"
                    data-load-indicator
                    data-load-indicator-opaque
                />
            </div>
        </div>
    </div>
</div>