{% put header %}
    <div class="widewrapper pagetitle">
        <div class="container">
            <h1>{{ this.page.title }}</h1>
        </div>
    </div>
{% endput %}

    <div class="widewrapper">
        <div class="container login">
            <h2>Create your Account</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique facere nihil maiores voluptatem dolorem. 
            </p>

            <form
                    data-request="{{ __SELF__ }}::onRegister"
                    data-request-flash>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="email">First name</label>
                        <input class="form-control input-lg" type="text" id="first_name" name="first_name" value="" placeholder="">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="password">Last name</label>
                        <input class="form-control input-lg" type="text" id="last_name"  name="last_name" value="" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="email">E-Mail Address</label>
                        <input class="form-control input-lg" type="email" id="email" name="email" value="" placeholder="">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="password">Password</label>
                        <input class="form-control input-lg" type="password" id="password"  name="password" value="" placeholder="">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="password-repeat">Confirm Password</label>
                        <input class="form-control input-lg" type="password" id="password-repeat" name="password_confirmation" value="" placeholder="">
                    </div>
                </div>
                <button class="btn btn-grove-one btn-lg btn-bold" type="submit">Register</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>