            </div>
        </div>
    </div>
</div>

<div class="container">
	<div class="row">
		{% for series in __SELF__.series %}
			{% if __SELF__.property('listColumns') == 2 %}
				<div class="col-md-6">
			{% elseif __SELF__.property('listColumns') == 4 %}
				<div class="col-md-3">
			{% else %}
				<div class="col-md-4">
			{% endif %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{ series.title }}</h3>
					</div>
					<div class="panel-body">
						<div class="media">
							<img src="http://via.placeholder.com/200x200"></img>
						</div>
						<p>{{ series.teasertext|raw }}</p>
						{% if (series.sluggable)  %}
							<a 
								href="{{ series.sluggable }}" 
								class="btn btn-primary oc-icon-globe"
							>
								+ mehr
							</a>
						{% endif %}
					</div>
				</div>
			</div>
			{% if (loop.index % __SELF__.property('listColumns')) == 0  %}
				</div>
				<div class="row">
			{% endif %}
		{% endfor %}
	</div>
</div>




