<div data-control="toolbar">
    <button
        href="javascript:;"
        data-control="popup"
        data-size="large"
        data-handler="onCreateForm"
        class="btn btn-primary oc-icon-plus">
        <?= e(trans('backend::lang.form.create')) ?>
    </button>
    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>
    <button
        href="javascript:;"
        data-control="popup"
        data-size="large"
        data-handler="onLoadReorder"
        class="btn btn-primary oc-icon-sort">
        <?= e(trans('backend::lang.reorder.default_title')) ?>
    </button>
    <div class="btn-group dropdown dropdown-fixed">
        <button
            type="button"
            class="btn btn-default dropdown-toggle"
            data-toggle="dropdown">
            <span class="icon-tags"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="javascript:;" data-request="onToggleTreeNodes" data-request-data="expand: 1" data-stripe-load-indicator class="oc-icon-plus">
                    <?= e(trans('octobase.categories::lang.categories.model.open_nodes')) ?>
                </a>
            </li>
            <li>
                <a href="javascript:;" data-request="onToggleTreeNodes" data-request-data="expand: 0" data-stripe-load-indicator class="oc-icon-minus">
                    <?= e(trans('octobase.categories::lang.categories.model.close_nodes')) ?>
                </a>
            </li>
        </ul>
    </div>
</div>
